<template>
    <div>
        <p style="margin-top: 20px">
            <strong>Afftesting</strong> help you test, analyze your affiliate link with different device and country.
        </p>
        <p>
            <strong>Author</strong>: Dung Nguyen - <a href="mailto:dangdungcntt@gmail.com">dangdungcntt@gmail.com</a>
        </p>
    </div>
</template>

<script>
export default {
    name: 'about'
}
</script>

