<template>
    <div>
        <div class="row">
            <!--<h1>{{windowWidth}}</h1>-->
            <div class="col-md-24 col-sm-24 col-xs-24">
                <label>Tracking link</label>
                <at-input v-on:focus="urlFocused = true;$event.target.select()" :status="urlStatus" :title="urlTitle"
                          placeholder="Enter your affiliate/tracking link" size="large" v-model="url">
                    <template slot="prepend">
                        <i class="icon icon-link"></i>
                    </template>
                </at-input>
            </div>
        </div>
        <div class="row">
            <div class="col-md-20 col-sm-20 col-xs-24">
                <div class="row">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>Device</label>
                        <at-select size="large" v-model="currentDevice">
                            <at-option v-for="device in devices" :value="device.value" :key="device.value">
                                {{device.label}}
                            </at-option>
                        </at-select>
                    </div>
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>Country</label>
                        <at-select filterable size="large" v-model="currentCountry" placeholder="Select a country">
                            <at-option v-for="country in countries" :value="country.value" :key="country.value">{{country.label}}</at-option>
                        </at-select>
                    </div>
                </div>
                <div class="row" v-if="showAdvanced">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <label>OS Version</label>
                        <at-select size="large" v-model="currentOS" :disabled="currentOS === ''"
                                   :placeholder="currentOS === '' ? 'No OS available for this device' : 'Select a OS'">
                            <at-option v-for="os in filteredOS" :value="os.value" :key="os.value">{{os.label}}
                            </at-option>
                        </at-select>
                    </div>
                </div>
                <at-button type="text" size="smaller" v-on:click="toggleAdvanced">Advanced</at-button>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-24">
                <label>&nbsp;</label>
                <at-button type="primary" :disabled="loading" style="width: 100%;height: 30px" v-on:click="submit">Submit
                </at-button>
            </div>
        </div>

        <div class="row">
            <div class="col-md-24 col-sm-24 col-xs-24" style="text-align: center;margin-top:15px" v-if="loading">
                <img :src="loadingIMG" alt=''>
            </div>
            <div class="col-md-24 col-sm-24 col-xs-24" v-if="showResult">
                <hr>
                <at-tabs>
                    <at-tab-pane v-for="(result, index) in results" :label="`Result ${index + 1}`" :name="`tab${index + 1}`" :key="index + 1">
                        <h3>Total: {{result.total_time}}ms</h3>
                        <div v-for="(redirect, i) in result.redirect_urls" :key="i" 
                            :class="`pathItem ${getStatusCodeColor(redirect.statusCode, redirect.js_meta)} ${getStatusCodeType(redirect.statusCode, redirect.js_meta)}`">
                            <div class="clearFix pathHeaderContainer">
                                <div class="pathIcon">
                                  <span class="clientRedirectBadge">JS/META</span>
                                </div>
                                <div class="pathHeader">
                                    <h2 :title="redirect.url">{{redirect.url}}</h2>

                                    <h3>
                                      {{redirect.statusCode}} - {{redirect.statusMessage}} - {{redirect.totalTime}}ms - 
                                      {{redirect.clippedResponse || ''}}
                                    </h3>
                                </div>
                                <i class="icon icon-copy"
                                v-clipboard:copy="redirect.url"
                                v-clipboard:success="onCopy"
                                v-clipboard:error="onError"></i>
                                <div class="pathImg" :title="agencyInfo[`key_${index}_${i}`].name">
                                  <img :src="agencyInfo[`key_${index}_${i}`].logo">
                                </div>
                            </div>
                        </div>
                    </at-tab-pane>
                </at-tabs>
            </div>
        </div>

                                <!-- :type="getStatusCodeType(redirect.statusCode)" :icon="getStatusCodeIcon(redirect.statusCode)" -->
    </div>
</template>

<style scoped>

    .pathItem {
        border-radius: 5px;
        margin-bottom: 10px;
        background-color: #fff;
        min-height: 40px;
        width: 100%;
        box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2);
        overflow: hidden;
        cursor: pointer;
    }

    .pathItem:hover{box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),inset 0px 0px 0px 1px #5d945a;}
    .pathItem.statusInfo:hover{box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),inset 0px 0px 0px 1px #214a65;}
    .pathItem.statusInfo h2 {color: #214a65;}
    .pathItem.statusInfo .pathIcon {background-color: #214a65;}
    .pathItem.statusWarning:hover{box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),inset 0px 0px 0px 1px #e58d1c;}
    .pathItem.statusWarning h2 {color: #e58d1c;}
    .pathItem.statusWarning .pathIcon {background-color: #e58d1c;}
    .pathItem.statusError:hover{box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),inset 0px 0px 0px 1px #e22b2b;}
    .pathItem.statusError h2 {color: #e22b2b;}
    .pathItem.statusError .pathIcon {background-color: #e22b2b;}
    .pathItem h2,.pathItem h3{overflow:hidden;white-space:nowrap;text-overflow:ellipsis;margin:0;padding:0;font-weight:normal;}
    .pathItem h2{color:#5d945a;padding:8px 0;font-size:14px;font-weight:bold;}
    .pathItem h3{font-size: 12px}

    .pathHeaderContainer{height:65px;position: relative;}
    .pathHeaderContainer .icon-copy {
        display: none;
        font-size: 22px;
        position: absolute;
        right: 120px;
        top: 5px;
        padding: 5px;
        border-radius: 5px;
        background:white;
    }

    .pathHeaderContainer:hover .icon-copy {
        display: initial;
    }

    .pathHeaderContainer .icon-copy:hover {
        background: #cccccc94;
    }

    .pathItem .pathHeaderContainer .pathHeader {
        padding-left: 10px;
        padding-right: 10px;
        display: inline-block;
        max-width: calc(100% - 185px);
    }

    .pathImg{float:right;width:115px;height: 69px;text-align: center;padding-top: 2px;}
    .pathImg img {max-width: 115px;max-height: 65px;border-radius: 5px;padding-right: 2px}

    .pathIcon{
        float: left;
        width: 69px;
        height: 69px;
        border-radius: 4px;
        box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.2);
        background: #5d945a url(/dist/tick.png) no-repeat center center;
        text-align: center;
    }

    .clientRedirectBadge {
      display: none;
      margin: 0 auto;
      padding: 5px;
      border-radius: 3px;
      margin-top: 10px;
      color: #fff;
      font-size: 9px;
      line-height: 9px;
      background-color: rgba(255, 255, 255, 0.3);
    }

    .js-meta .pathIcon {
      height: 79px;
      background-position: center 75%!important;
    }
    .js-meta .clientRedirectBadge {display: inline-block}
    .js-meta .pathImg {padding-top: 8px}

    .redirect .pathIcon {background: url(/dist/arrow.png) no-repeat center center;}
    .error .pathIcon{background: url(/dist/warning.png) no-repeat center center;}
</style>


<script>
import DevicesHelper from '@/helpers/devices';
import CountriesHelper from '@/helpers/countries';
import OSHelper from '@/helpers/os';
import ValidateHelper from '@/helpers/validate';
import APIHelper from '@/helpers/api';
import LoadingIMG from '@/img/loading.svg';

export default {
  name: 'home',
  data() {
    return {
      showAdvanced: false,
      loading: false,
      loadingIMG: LoadingIMG,
      showResult: false,

      results: [],
      agencyInfo: {},

      devices: DevicesHelper.getAll(),
      countries: CountriesHelper.getAll(),
      OSVersions: OSHelper.getAll(),

      url: '',
      urlFocused: false,
      currentDevice: '',
      currentCountry: '',
      currentOS: '',
    };
  },
  created() {
    document.title = 'Home - Afftesting';

    this.currentDevice = 'android';

    let localCountry = localStorage.getItem('currentCountry');
    let localDevice = localStorage.getItem('currentDevice');

    if (CountriesHelper.isValidCountry(localCountry)) {
      this.currentCountry = localCountry;
    }

    if (DevicesHelper.getPlatform(localDevice) !== '') {
      this.currentDevice = localDevice;
    }
  },
  methods: {
    onCopy(){
      this.$Notify.success({ title: 'Copied', showClose: false });
    },
    onError() {
      this.$Notify.error({ title: 'Failed', showClose: false });
    },
    toggleAdvanced() {
      this.showAdvanced = !this.showAdvanced;
    },
    validateInput() {
      let hasError = false;

      if (this.url.trim().length === 0) {
        this.url = '';
        hasError = true;
      }

      return !hasError;
    },
    getStatusCodeType(statusCode, js_meta) {
      if (js_meta) {
        return 'redirect js-meta'
      }

      if (statusCode < 300) {
        return '';
      }

      if (statusCode < 400) {
        return 'redirect';
      }

      return 'error';
    },
    getStatusCodeColor(statusCode, js_meta) {
      if (js_meta) {
        return 'statusInfo';
      }

      if (statusCode < 300) {
        return '';
      }

      if (statusCode < 302) {
        return 'statusInfo';
      }

      if (statusCode < 400) {
        return 'statusWarning';
      }

      return 'statusError';
    },
    async getAgencyInfo() {
      
      let newAgencyInfo = {};

      this.results.forEach((result, index) => {
        result.redirect_urls.forEach((redirect, i) => {
          newAgencyInfo[`key_${index}_${i}`] = {
            logo: '/dist/115x65.png',
            name: 'Unknown'
          };
        })
      });

      this.agencyInfo = newAgencyInfo;

      this.results.forEach((result, index) => {
        result.redirect_urls.forEach(async (redirect, i) => {
          let response = await APIHelper.getAgencyInfo({url: redirect.url});
          if (!response || !response.success) {
            return;
          }

          this.agencyInfo[`key_${index}_${i}`] = response.data;
        })
      });
    },
    async submit() {
      this.urlFocused = true;
   
      if (!ValidateHelper.isURL(this.url) || this.loading) {
        return;
      }

      this.loading = true;
      this.showResult = false;

      try {
        let response = await APIHelper.affTesting({
          url: this.url.trim(),
          device: this.currentDevice,
          country: this.currentCountry,
          os_version: this.currentOS
        });

        if (response.error) {
          this.$Notify.error({ title: response.error });
        } else {
          this.results = response.data;
          this.showResult = true;

          this.getAgencyInfo();
          
          this.$Notify.success({ title: 'Success', showClose: false });
        }
      } catch (err) {
        this.$Notify.error({ title: 'Failed', message: err.toString(), showClose: false });
      }

      this.loading = false;
    }
  },
  computed: {
    urlStatus() {
      if (!this.urlFocused || ValidateHelper.isURL(this.url)) {
        return '';
      }

      return 'error';
    },
    urlTitle() {
      return ValidateHelper.isURL(this.url) ? '' : 'Invalid URL';
    },
    filteredOS() {
      return this.OSVersions.filter(os => os.platform === this.currentPlatform);
    },
    currentPlatform() {
      return DevicesHelper.getPlatform(this.currentDevice);
    }
  },
  watch: {
    currentDevice(newDevice, oldDevice) {
      localStorage.setItem('currentDevice', newDevice);

      if (
        DevicesHelper.getPlatform(newDevice) ===
        DevicesHelper.getPlatform(oldDevice)
      ) {
        return;
      }

      this.currentOS = '';

      setTimeout(() => {
        this.currentOS = OSHelper.getFirstOS(
          DevicesHelper.getPlatform(newDevice)
        );
      }, 0);
    },
    currentCountry(newValue) {
      localStorage.setItem('currentCountry', newValue);
    }
  }
};
</script>