<template>
    <div>
        <div class="row">
            <div class="col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5 col-xs-24">
                <h1 class="text-center">Forgot Password</h1>
                <label class="block">Email</label>
                <at-input placeholder="Email" size="large"></at-input>
                <at-button type="primary" style="width: 100%">Send password reset email</at-button>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "forgot-password",
        created() {
            document.title = 'Forgot Password - Afftesting'
        }
    }
</script>

<style scoped>

</style>