<template>
    <div>
        <div class="row">
            <div class="col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5 col-xs-24">
                <h1 class="text-center">Login to AffTesing</h1>
                <label class="block">Email</label>
                <at-input placeholder="Email" size="large"></at-input>
                <label class="block">Password<router-link :to="{ path: '/forgot-password'}" class="pull-right">Forgot password?</router-link></label>
                <at-input placeholder="Password" size="large" type="password"></at-input>
                <at-button type="primary" style="width: 100%">Login</at-button>
                <div class="text-center">
                    <at-button v-on:click="goToRegister" type="text" size="smaller">Create new account</at-button>
                </div>
            </div>
        </div>


    </div>
</template>

<script>
    export default {
        name: "login",
        created() {
            document.title = 'Login - Afftesting';
        },
        methods: {
            goToRegister() {
                this.$router.push({path: '/register'})
            }
        }
    }
</script>

<style scoped>

</style>