<template>
    <div>
        <div class="row">
            <div class="col-md-12 col-md-offset-6 col-sm-14 col-sm-offset-5 col-xs-24">
                <h1 style="text-align: center">Create new account</h1>
                <label class="block">Email</label>
                <at-input placeholder="Email" size="large"></at-input>
                <label class="block">Password</label>
                <at-input placeholder="Password" size="large" type="password"></at-input>
                <label class="block">Re-Password</label>
                <at-input placeholder="Re-Password" size="large" type="password"></at-input>
                <at-button type="primary" style="width: 100%">Register</at-button>
                <div class="text-center">
                    <at-button v-on:click="goToLogin" type="text" size="smaller">Have an account? Login now</at-button>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "register",
        created() {
            document.title = 'Register - Afftesting'
        },
        methods: {
            goToLogin() {
                this.$router.push({path: '/login'})
            }
        }
    }
</script>

<style scoped>

</style>