<template>
    <div class="container-fluid" id="app">
        <div class="col-md-16 col-md-offset-4 col-sm-20 col-sm-offset-2 col-xs-24">
            <div class="flex flex-between" :style="'flex-direction: ' + (windowWidth > 436 ? 'row' : 'column')">
                <div class="flex" style="align-items: center;justify-content: center">
                    <h1>
                        <router-link :to="{ path: '/' }">AffTesting</router-link>
                    </h1>
                </div>
                <at-menu mode="horizontal" v-if="windowWidth > 436" :active-name="$route.name">
                    <at-menu-item :to="{ path: '/about' }" name="about">About</at-menu-item>
                    <!-- <at-menu-item :to="{ path: '/pricing' }" name="pricing">Pricing</at-menu-item>
                    <at-menu-item :to="{ path: '/login' }" name="login">Login</at-menu-item>
                    <at-menu-item :to="{ path: '/register' }" name="register">Register</at-menu-item> -->
                </at-menu>
                <at-menu inline-collapsed v-if="windowWidth <= 436" class="collapse-menu">
                    <at-submenu>
                        <template slot="title"><i class="icon icon-menu"></i>Menu</template>
                        <at-menu-item :to="{ path: '/about' }" name="about">About</at-menu-item>
                        <!-- <at-menu-item :to="{ path: '/pricing' }" name="pricing">Pricing</at-menu-item>
                        <at-menu-item :to="{ path: '/login' }" name="login">Login</at-menu-item>
                        <at-menu-item :to="{ path: '/register' }" name="register">Register</at-menu-item> -->
                    </at-submenu>
                </at-menu>
            </div>
            <router-view></router-view>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                windowWidth: 0,
                transitionName: 'slide-left'
            }
        },
        mounted() {
            this.$nextTick(function () {
                window.addEventListener('resize', this.getWindowWidth);

                //Init
                this.getWindowWidth()
            })
        },
        methods: {
            getWindowWidth(event) {
                this.windowWidth = document.documentElement.clientWidth;
            },
        },
        watch: {
            '$route' (to, from) {
                const toDepth = to.path.split('/').length;
                const fromDepth = from.path.split('/').length;
                this.transitionName = toDepth < fromDepth ? 'slide-right' : 'slide-left'
            }
        }
    }
</script>

<style>
    * {
        font-size: 14px;
    }

    label {
        font-weight: bold;
    }

    .block {
        display: block;
    }

    .text-center {
        text-align: center;
    }

    .mb-10 {
        margin-bottom: 10px
    }

    .collapse-menu {
        width: 100% !important;
        border-right: 0;
    }

    .at-menu__submenu-title {
        padding-left: 0 !important;
    }

    .at-menu--inline .at-menu__submenu .at-menu__item-link {
        padding-left: 20px;
    }

    .at-input + label, .at-input + .at-btn  {
        margin-top: 10px
    }

    .at-notification {
        font-weight: bold;
    }

    .at-notification--error {
        background: #e24f4f;
    }

    .at-notification--success {
        background: #6ca069;
    }

    .at-notification .at-notification__title,
    .at-notification .at-notification__icon {
      color: white;
    }
</style>
